
/*............................... .Header start.............................. */

@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.header{
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../IMAGES/about23.jpg);
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  position: relative;
}

body{
  min-height: 100vh;
  width: 100%;
  background: #c8e8e9;
  display: absolute;
  align-items: center;
  justify-content: center;
}

header a {
  text-decoration: none;
  text-align: center;
}

header {
  padding: 0 20px;
  background-color: #dde4eb;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#brand a {
  color: #ffffff;
  font-size: 30px;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: white;
  font-size:large;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

nav ul li ul{
	position: absolute;
	background-color:#f6eeee;
	display: none;
}
nav ul li:hover ul{
	display: block;
}
nav ul li:hover ul li a{
	width: 200px;
}

nav ul li .active{
	color:#001dfa;
	background-color: rgba(10, 201, 201, 0.379);
}



#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}


/* ...........................................Header end.......................................... */

@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Koulen', cursive;
}

.container{
  flex-basis: 85%;
  width: 100%;
  background: transparent;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: transparent;
}
.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #d7d7db;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: #91850b;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
  color: rgb(188, 147, 22);
}
.content .left-side .details .text-one,
.content .left-side .details .text-two,
.content .left-side .details .text-three{
  font-size: 14px;
  color: #dbdde7;
}


.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #c7d6ca;
}
p{
  color: #cfb9b1;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  color: #eff5f5;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  background: transparent;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #cac6d3;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover{
  background: #5029bc;
}

@media (max-width: 950px) {
  .container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .container .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .container{
    margin: 40px 0;
    height: 100%;
  }
  .container .content{
    flex-direction: column-reverse;
  }
 .container .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container .content .left-side::before{
   display: none;
 }
 .container .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}

footer{
	width: 100%;
  bottom: 0;
	background:linear-gradient(to right, #00093c, #2d0b00),url(../IMAGES/QR.png);
	color: #fff;
	padding: 100px 0 30px;
	font-size: 13px;
	line-height: 13px;
}

.row{
	width: 90%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}

.col{
	flex-basis: 20%;
	padding: 5px;
}

.col:nth-child(2),.col:nth-child(3){
	flex-basis:5%;
}

.logo{
	margin-left: 20px;
	position: relative;
}

.col p{
	width: fit-content;
	margin-bottom: 15px; 
	position: relative;
  font-size: 10px;
}

.col h3{
	width: fit-content;
	margin-bottom: 44px;
	position: relative;
}
.col h3 p{
  font-size: 15px;
  color: #c7d6ca;

}


.email-id{
	width: fit-content;
	border-bottom: 1px solid #ccc;
	margin: 20px 0;
}

.social-icons h3{
	width: fit-content;
	margin-bottom: 8px;
	position: relative;
}

ul{
	list-style: none;
	margin-bottom: 12px;
}

ul a{
	text-decoration: none;
	color: white;
}

hr{
	width:90%;
	border: 0;
	border-bottom: 1px solid #ccc;
	margin: 20px auto;
}

@media (max-width:768px) {
    html{
        font-size: 50%;
    }

    .header .icons #menu-bars{
        display: inline-block;
    }
    .header{
        padding:  2rem;
    }
    .header .navbar{
        position: absolute;
        top: 100%;
        left: 100%;
        right: 0;
        background: var(--maincolor);

    }
    .header .navbar a{
        display: block;
        margin: 1rem;
        padding: 1rem;
        background: white;
        border-radius: 10px;
    }
 
}



























































































































/* /// */
